@media only screen and (min-width: 45em) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    border-radius: 20px;
    font-size: 18px;
  }

  #content {
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}
