body {
	padding: 0;
	margin: 0;
}

header{
	background-color: #0f3C43;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
    font-family: "IM Fell French Canon SC";
}
header,
nav,
main,
footer {
	max-width: 900px;
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
    
}

.headings h1 {
	font-size: 1.5rem;
	color: #0ab6ff;
}

.m {
	letter-spacing: 1pt;
	color: #FFCC57;
	font-weight: 700;
	font-size: 0.8rem;
    margin: 0;
}

h2{
    letter-spacing: 1pt;
	color: #FFCC57;
    font-family: "IM Fell French Canon SC";
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
    padding: 0.2em;
}

nav {
	margin: 0 auto;
	max-width: 900px;
	
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #0ab6ff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
	color: #FFCC57;
}


/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.date{
	font-family: 'IM Fell French Canon SC', sans-serif;
    display: block;
    padding: 0.75rem;
    background-color: #0f3C43;
	color: #0ab6ff;

	text-align: center;
}

footer {
	font-family: "Montserrat";
	font-size: 1em;
    background-color: #0f3C43;
	display: grid;
	grid-template-columns: 60px 60px;
    color: #0ab6ff;
}

footer img{
	grid-column: 1;
	grid-row: 1;

}
.adress{
	grid-column: 3/5;
	grid-row: 1;
	padding-left: 2em;
	align-items: center;
	
}

.info{
	grid-column: 5;
	padding-left: 5em;
	grid-row: 1;
	
}

.fas-fa-map-marker-alt{
color: white;
}

#last_paragraph{
	grid-column: 1/6;
	grid-row: 2;
	text-align: center;
}




